body { 
   margin: 0;
   padding: 0;
   margin-top: 60px; 


  font-family: tahoma, verdana, sans-serif; 
}

.full-width-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

#pages {
    margin-top: 20px;
}

#backButton {
  margin: 20px 0;
}

.votedBad {background-color:#b94a48;}
.votedGood {background-color:#82cce7;}
/* --------------------------------- Header & Search --------------------------------- */

#header {
   position:fixed;
   width: 100%;
   top:0px;
   z-index: 999;
   color: #EEE;
   border-bottom: 1px solid #444;
   height: 60px;
   line-height: 60px;
   background-color: #333;  
}
#header .brand {
  float: left;
  width: 200px;
  margin-top: 10px;
}

#header .brand img {
    width: 130px;
}

#header div.button {
  float: right;
  margin-right: 1px;
}

#search-bar {
    width: 100%;
    margin: 20px 0px;
}

#search-bar form {
  float: left;
  width: 450px; 
  font-size: 120%;
  font-family: helvetica;
  overflow:hidden;
}

#search-bar input {
  width: 400px; 
  padding: 7px 10px;
  margin-right: 10px;
  height: 32px;
}

/* --------------------------------- Filters --------------------------------- */

#nav-filter-menu   {
    float: left;
    margin-top: 5px;
}

#nav-filter-menu, #author-options-menu {
   color: #444;
   text-transform: uppercase;
}

#author-options-menu:hover {
   background-color: #ccc;
   cursor:pointer;
}

#author-options-menu {
    border: 1px solid #aaa;
    border-left: none;
    border-bottom: none;
}

.filterStuff {
	
	
    display:none;
}

.filterStuff:hover {
    cursor:pointer;
}

#header div.button a {
   display: block;
   text-align: center;
   font-size: 100%;
   color: #eee; 
   text-decoration: none;
   line-height: 50px;
}


#menu {
  width: 460px; 
  margin: 0 auto; 
}

@media screen and (max-width: 991px) {
  #menu {}
}

@media screen and (max-width: 768px) {
}


/* --------------------------------- Colors --------------------------------- */


.blue {
   border-bottom: 10px solid #9FDBF8; 
   color: #82cce7; 
}

.blue:hover {
   border-bottom: 10px solid #60B9E4; 
}

.orange {
  border-bottom: 10px solid #FFE59E; 
}

.orange:hover {
   border-bottom: 10px solid #FFD564; 
}


.red {
  border-bottom: 10px solid #FFB19E; 
}

.red:hover {
   border-bottom: 10px solid #FF8264; 
}


#sign-in, #logout-box {
  float: right;

  
  line-height: 20px;
  margin:10px 50px;
  right: 0;
  top:0;
  z-index: 999;
}

#logout-box span { 
    color: #ccc;
}

#sign-in a, #logout-box a {
  color: #eee;
}

#logout-box:hover {
  cursor:pointer;
}

.blue:hover, .orange:hover, .green:hover, .red:hover {
   color: #222 !important;
   cursor: pointer;
}


/* --------------------------------- Questions --------------------------------- */

.question-block {
   display: block;
   cursor:pointer;
   margin: 0;
   padding: 10px;
   border-top: 1px solid #aaa;
}

.selected {
    background-color: #b9ecff;
}

.question-block:hover {
    background-color: #E0F7FF;

}

.question-block ul {
   list-style: none;
}
.question-block .question-header {
   float: left;
   margin: 5px 10px;
}

.question-block .question-body {
   float: left;
   width: 70%;
   margin: 0 10px;
}

.question-block .question-tags {
   float: right;
   margin: 5px 10px;
}

#inner-container {
    width: 960px;
    margin: 0 auto;
}

#question-container {
    position:relative;
    clear: both;
}
#questionList , #questionView {
    top: 0;
    left:0;
    width: 100%;
    height: auto;
    background-color: #fff;
}

#questionView { display: none; }

.currentQuestion {
    border: 1px solid #aaa;
    border-left: none;
}
#questionView .currentQuestion {
    background: #b9ecff;
    margin-bottom: 5px;
    padding: 10px;
}

/* --------------------------------- Replies --------------------------------- */

.rightColumn {
    padding: 0;
    margin: 0;
    position:absolute;
    left: 42%;
    height: 100%;
}

.replyList {
    padding: 0;
    margin: 0;
    list-style:none;
}

.replyList .reply {
    margin: 10px 0 0 0;
    padding: 10px 10px 0 10px;
}

.add-reply { 
    width: 100%;
    bottom: 0;
    padding: 20px;
}

.fixed {
  display: block;
  position: fixed;
}

.sidebar {
  margin-top: 100px;
  line-height: 50pt;
}

.sidebar span {
  float: left;
}

.sidebar span.glyphicon {
  font-size: 40pt;
}

.right {
  float: right;
  text-align: right;
}