
body { 
   margin: 0; 
   padding: 0;
   font-family: tahoma, verdana, sans-serif; 
}

#wrapper {
	margin: 0;
}

#header {
   position:fixed;
   z-index: 999;
   height: 70px;

   background-color: #333; 
}

#nav-menu a {
   color: #FFF;
   text-decoration: none;
}

#nav-menu li {
   margin: 0 0 0 10px;
   display: inline-block;
   height: 70px;
   line-height: 70px;
   text-align: center;
   font-size: 120%;
   color: #FFF; 
}

#nav-menu li.blue, #nav-menu li.orange{

   width: 130px;
}

#nav-menu li.blue {
   background-color: #82cce7; 
   color: #82cce7; 
}

#nav-menu li.blue:hover {
   background-color: #ccc; 
   color: #ccc;
   cursor: pointer;
}

#nav-menu li.blue:hover a {
   color: #444;
}

#nav-menu li.orange {
  background-color: #e7a382; 
}

#nav-filter-menu {
   background-color: #f0f0f0;
   text-align: right;
   color: #444;
   text-transform: uppercase;
   padding: 10px;
   margin: 70px 0 2px 0;
}

#nav-filter-menu:hover {
   background-color: #ccc;
   cursor:pointer;

}

#question-list {
   list-style: none;
   margin: 0;
   padding: 0;
}
.question-block {
   margin: 0;
   padding: 30px 20px;
   background-color: #eee;
}

.question-block ul {
   list-style: none;
}
.question-block .question-header {
   float: left;
   width: 400px;
   margin: 5px 10px;
}

.question-block .question-body {
   float: left;
   margin: 0 10px;
}

.question-block .question-tags {
   float: left;
   width: 400px;
   margin: 5px 10px;
}

#questionView {
   position:fixed;
   top: 70px;
   right: 0;
}
