        <div class="col-md-6">
            <strong data-bind="text:username">Uname</strong>
			<a href="#" data-bind="click: function() { $parent.editMode(true) }">Edit</a>
			<br>
            <table class="table table-condensed table-responsive table-user-information">
                <tbody>
                <tr>
                    <td>Member since:</td>
                    <td data-bind="text:created">beep plz</td>
                </tr>
                <tr>
                    <td>Description:</td><br>
                    <td data-bind="text:description"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td data-bind="text:email">xxx</td>
                </tr>
				<tr>
                    <td>Reputation</td>
                    <td data-bind="text:votesum">xxx</td>
                </tr>
                </tbody>
            </table>
        </div>