<div id="header" class="col-xs-12">
	<div class="brand" style="float: left;"><img src="img/logo.png"/></div>

   <div id="search-bar" class="col-xs-2 col-md-3">
      <span class="glyphicon glyphicon-search"></span>
      <span>&nbsp;</span>
   </div>
   
	<div class="button col-xs-2 col-md-2">
		<a data-bind="click: changePage('questions')" class="blue">
			<span style="color: #eee;" class="glyphicon glyphicon-question-sign"></span>
			Questions
		</a>
	</div>
   <div id="sign-in" class="button col-xs-2 col-md-1">
      <a href="http://130.240.5.168:5000/u/login">
         <span style="color: #eee;" class="glyphicon glyphicon-plus"></span>
         <span>Sign in</span>
      </a>
   </div>
</div>