<div id="header" class="col-xs-12">
	<div class="brand col-xs-1"><img src="img/logo.png"/></div>
     <div id="search-bar" class="col-xs-5">
		<span class="glyphicon glyphicon-search"></span><span> Search</span>
	</div>
     
     <div id="sign-in" class="button col-xs-1 right">
		<a href="http://130.240.5.168:5000/u/login">Sign in</a>
	</div>
	<div class="button col-xs-1 right">
		<a data-bind="click: changePage('questions')" class="blue">
			<span style="color: #eee;" class="glyphicon glyphicon-question-sign"></span>
			Questions
		</a>
	</div>
</div>