<div id="header">
    <div class="brand"><a href="/"><img src="img/logo.png" width="130px"/></a></div>
    <div id="menu" class="clearfix">
        <div class="blue button col-xs-2">
            <a data-bind="click: function(e) { changePage('viewQuestions') }">
                <span style="color: #eee;" class="glyphicon glyphicon-question-sign"></span>
                Questions
            </a>
        </div>

        <div class="orange button col-xs-2">
            <a data-bind="click: function(e) { changePage('profile') }" >
                <span style="color: #eee;" class="glyphicon glyphicon-home"></span>
                Profile
            </a>
        </div>
    </div>
    <div id="sign-in">
        <p> <a href="http://130.240.5.168:5000/u/login">
                <span style="color: #eee;" class="glyphicon glyphicon-plus"></span>
                <span>Sign in</span>
            </a>
        </p>
    </div> 
</div>