<div id="menu" class="clearfix">
    <div id="ask-question" class="red button">
        <a data-bind="click: function(e) { changePage('askQuestion') }">
            <span style="color: #eee;" class="glyphicon glyphicon-pencil"></span>
            Ask question
        </a>
    </div>	 
    <div class="blue button">
        <a data-bind="click: function(e) { changePage('listQuestions') }">
            <span style="color: #eee;" class="glyphicon glyphicon-question-sign"></span>
            Questions
        </a>
    </div>

    <div class="orange button">
        <a data-bind="click: function(e) { changePage('viewProfile') }" >
            <span style="color: #eee;" class="glyphicon glyphicon-home"></span>
            Profile
        </a>
    </div>
</div>
<div id="logout-box">
    <span data-bind="with: user">Logged in as <span data-bind="text: username"></span></span>
    <p><a data-bind="click: logout"><span style="color: #eee;" class="glyphicon glyphicon-minus"></span> Logout</a></p>
</div>