<div style="width: 960px; margin: 0 auto">
   <div class="add-question col-xs-6" data-bind="visible: $root.loggedIn, with: new Question()">
     <h4>Tell us what you're thinking!</h4>
     <form>
     <input type="text" data-bind="value: title"/>
     <textarea data-bind="value: body" class="form-control animated" cols="50" placeholder="Enter a new question here!" rows="5"></textarea>
     <button  data-bind="click: function(question) { submitQuestion(question, $parent) }" class="btn btn-success btn-lg" type="submit">Send in question!</button>
     </form>
   </div>
</div>