<tr class="question-block clearfix"  data-bind="click: function() { changePage('viewQuestion', '?viewedID=' + id()); }">
        <td data-bind="with: author" style="width: 130px;text-align: center;">
           <a href="#"><span data-bind="text: username">AuthorNameHere</span></a>
           <br/>
           <img class="img-circle" style="width: 64px; height: 64px;" data-bind="attr: { src: avatar }" alt="User Pic">
        </td>
        <td style="width: 150px;text-align: center;">
            <span class="badge" data-bind="css: vote().fromScore, text: vote().score"></span>
        </td>
        <td><h4 data-bind="text: title"></h4></td>
        <td style="width: 250px;"><strong data-bind="text: timestamp"></strong></td>


      
        <td style="width: 100px;text-align: right;">
            <ul data-bind="foreach: { data: tags, as: 't' }">
                <li data-bind="text: t"></li>
            </ul>
         </td>
</tr>
