<div>
			
				<div class="btn-group" data-toggle="buttons" data-bind="with:qfilter">
				  <label class="btn btn-primary">
					<input type="text" name="options" id="filtername" data-bind="value:filtername" >
				</label>
				  <label class="btn btn-primary">
					<input type="checkbox" name="options" id="option2" data-bind="checked:orderby"> Reverse List
				  </label>
				  <label class="btn-primary">
					<input type="checkbox" name="options" id="option3" data-bind="checked:orderByVotes"> OrderByVotes
				  </label>
				</div>
</div>