<div class="add-question col-xs-6" >
  <h4>Tell us what you're thinking!</h4>
  <form>
  <label>Title:</label> 
  <input type="text" data-bind="value: title"/>
  <textarea data-bind="value: body" class="form-control animated" cols="50" placeholder="Enter a new question here!" rows="5"></textarea>
  <br/>
  <label data-bind="text:currentTags"></label><br/>
  <input type="text" data-bind="value:newTag"/><button data-bind="click:addTag">Add tag</button>
  <br/><br/>
  <button  data-bind="click:submitQuestion" class="btn btn-success btn-lg" type="submit">Send in question!</button>
  </form>
</div>