<div class="add-question col-xs-6" data-bind="visible: $root.loggedIn, with: new Question()">
  <h4>Tell us what you're thinking!</h4>
  <form>
  <label>Title:</label> 
  <input type="text" data-bind="value: title"/>
  <textarea data-bind="value: body" class="form-control animated" cols="50" placeholder="Enter a new question here!" rows="5"></textarea>
  <br/>
  <label data-bind="text: currentTags"></label>
  <input type="text" data-bind="value: tags"/><button data-bind="click: addTag">Add tag</button>
  <br/><br/>
  <button  data-bind="click: function(question) { submitQuestion(question, $parent) }" class="btn btn-success btn-lg" type="submit">Send in question!</button>
  </form>
</div>

<div style="margin: 30px 0; colo: #ccc"> Tips: use Latex ! <code>$$centered latexcodestuff$$ , \(code\) for inline</code></div>  