<div id="profileView">
<!--
public:
	Info:
	Current username
	Description
	Reputation (votesum)
	Member since
	Number of posts
	
private:
	Edit visible username
	Edit desc
	Activity:
	View my most recent posts
	View most recent replies to my posts
	Follow my questions
	
-->
<div class="panel-body" data-bind="with: profile">
    <div id="inner-container">
    <div class="row">
        <div class="col-md-2">
            <img class="img-circle"
                 src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                 alt="User Pic">
        </div>
		<div data-bind="template: { name: $parent.profileView }"></div>
    </div>
	

	
	<div data-bind="click:toggleVerticalMenu"><p>Show my stuff </p></div>
	<div class="filterStuff"> 
		 <div id="question-container">
        <table id="questionList">
            <tbody data-bind="template: {name: 'question/entry', foreach: $parent.questions}">
            </tbody>
        </table>
		</div>
	</div>
	
	
	</div>
</div>

