<div id="profileView">
<!--
public:
	Info:
	Current username
	Description
	Reputation (votesum)
	Member since
	Number of posts
	
private:
	Edit visible username
	Edit desc
	Activity:
	View my most recent posts
	View most recent replies to my posts
	Follow my questions
	
-->
<div class="panel-body" data-bind="with: profile">
    <div class="row">
        <div class="col-md-3">
            <img class="img-circle"
                 src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                 alt="User Pic">
        </div>
		<div data-bind="template: { name: $parent.profileView }"></div>
    </div>
</div>


	<p> Recent questions I wrote </p>
	<p> Recent replies I wrote</p>
	<p> Replies to my posts update </p>
</div>