<div style="margin: 0 30px"> 
  <div style="width: 180px;">
    <div class="fixed sidebar" data-bind="visible: isViewingQuestion()">
      <a href="#" data-bind="click: returnToResults">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Back</a>  
    </div>
  </div>
  <div id="inner-container">
    <div id="search-bar" class="clearfix">
    <form class="form-inline">
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Search questions..."/>
        </div>
        <label><span class="glyphicon glyphicon-search"></span></label>
    </form>
    <div>
        <div id="nav-filter-menu" data-bind="click:toggleVerticalMenu">
            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;<span>Filter questions</span>
        </div>
        <div data-bind="template: { name:'filters/questionFilter' }" class="filterStuff" style="display:none"></div>
    </div>
    <div id="question-container">
        <table id="questionList" data-bind="slideVisible: isViewingQuestion() == false, slideDirection: 'left'">
            <tbody data-bind="template: {name: 'question/entry', foreach: questions}">
            </tbody>
        </table>
        <div id="questionView" data-bind="slideVisible: isViewingQuestion, slideDirection: 'right', with: viewedQuestion">
            <div id="author-options-menu" data-bind="click:toggleVerticalMenu">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;<span>Show author options</span>
            </div>
            <div class="filterStuff" style="display:none">
                <h1>tmp</h1>
            </div>
            <div class="currentQuestion clearfix">
                  <div data-bind="template: { name: 'voting/column', data: vote()}"></div>          
                  <div class="col-xs-7">
                       <h4 data-bind="text:title"></h4>
                       <p data-bind="text: timestamp"></p>
                       <p id="question-body" data-bind="text: body"></p>
                      
                       <p>
                          <form data-bind="visible: $root.loggedIn, submit: $parent.deleteQuestion.bind('question', $data)">
                          <button>Delete question</button>
                       </p>
                  </div>
            </div>
            <div class="col-xs-12">
              <ul class="replyList" data-bind="template: { name: 'reply/view', foreach: replies, afterRender:$parent.afterRenderUpdate }">
              </ul>
            </div>
            <div class="add-reply" data-bind="visible: $root.loggedIn(), with: new Reply()">
                <h4>Do you know the answer?</h4>
                <form>
                <textarea data-bind="value: body" class="form-control animated" cols="50" id="new-review" 
                  name="comment" placeholder="Enter your reply here..." rows="5"></textarea>
                <button  data-bind="click: function() { submitReply($parent) }" class="btn btn-success btn-lg" style="margin-top: 20px;" type="submit">Submit reply</button>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>



