<div id="questionView" data-bind="with: viewedQuestion">
<div id="backButton">
    <a href="#" data-bind="click: $root.goBack">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Back
    </a>    
</div>
<div id="author-options-menu" data-bind="visible: madeByCurrentUser,
                                            click:toggleVerticalMenu">
    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
    <a href="#">Show author options</a>
</div>
<div id="author-options" class="filterStuff">
  <button>Edit question</button>
  <button data-bind="click: deleteSelf">Delete question</button>
</div>
    <div class="currentQuestion clearfix">
      <h4 class="title" data-bind="text:title"></h4>
      <table>
        <tbody>
           <td data-bind="with: author" style="width: 130px;text-align: center;">
           <img class="img-circle" style="width: 64px; height: 64px;" 
                data-bind="attr: { src: avatar }" alt="User Pic">
          </td>
          <td data-bind="template: { name: 'voting/column', data: vote()}"></td>      
          <td>
              <span data-bind="text: author().username">AuthorNameHere</span> 
              asked on
              <span data-bind="text: timestamp"></span>:

              <p id="question-body" data-bind="html: body"></p>
              <span>Tags for this question:</span>
              <ul id="questionTagList" data-bind="foreach: { data: tags, as: 't' }">
                <li>
                    <a href="#" data-bind="click: function() {changePage('listQuestions', '?filterByTag='+$data)}, text: t"></a>
                </li>
              </ul>
          </td>
        </tbody>
      </table>
    </div>
    <h4 class="title"><span data-bind="text: replies().length"></span> Answers</h4>
    <div class="col-xs-12">
      <table>
      <tbody class="replyList" data-bind="template: { name: 'reply/view', foreach: replies, afterRender:$parent.afterRenderUpdate }"></tbody>
      </table>
    </div>
    <div class="add-reply" data-bind="visible: $root.loggedIn(), with: new Reply()">
        <h4>Do you know the answer?</h4>
        <form>
        <textarea data-bind="value: body" class="form-control animated" cols="50" id="new-review" 
          name="comment" placeholder="Enter your reply here..." rows="5"></textarea>
        <button  data-bind="click: function() { submitReply($parent) }" class="btn btn-success btn-lg" style="margin-top: 20px;" type="submit">Submit reply</button>
        </form>
    </div>
</div>
